<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>silvagram</title>
  <link rel="stylesheet" href="./styles.css"></link>
  <!-- import vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  
  <div id="app">
    <plant-profile :plant="currentPlant"></plant-profile>
  
    <div id="select-plant">
      <select v-model="plantIndex">
        <option v-for="plant in plants" :value="plant.id">
          {{plant.name}}
        </option>
      </select>
    </div>

  </div>
  
  <!-- import main.js -->
  <script src="./main.js"></script>

  <!-- import components -->
  <script src="./components/PlantProfile.js"></script>
  
  <!-- mount app -->
  <script>const vm = app.mount("#app")</script>

</body>
</html>